[Unit]
Description=Cron service for syncing data and uploading snapshots to S3
After=network.target

[Service]
Type=exec
User=brandon
Restart=always
RestartSec=3s
RuntimeMaxSec=1d
# These are ignored before systemd v254, but keeping them in for future reference.
RestartMaxDelaySec=3m
RestartSteps=5

WorkingDirectory=/home/brandon/arthistory
ExecStart=sh start-cron-service.sh

[Install]
WantedBy=multi-user.target
