# sudo systemctl enable /home/brandon/arthistory-api-tunnel.service
# sudo systemctl status arthistory-api-tunnel.service
[Unit]
Description=SSH tunnel for bscott-arthistory-api.tuns.sh
After=network.target

[Service]
Type=forking
User=brandon
Restart=always
RuntimeMaxSec=1d

ExecStart=autossh -M 0 -R arthistory-api:80:localhost:3001 tuns.sh

[Install]
WantedBy=multi-user.target
