[Unit]
Description=SSH tunnel for bscott-arthistory-api.tuns.sh
After=network.target

[Service]
Type=forking
User=brandon
Restart=always
RestartSec=3s
RuntimeMaxSec=1d
# These are ignored before systemd v254, but keeping them in for future reference.
RestartMaxDelaySec=3m
RestartSteps=5

ExecStart=autossh -M 0 -R arthistory-api:80:localhost:3001 tuns.sh

[Install]
WantedBy=multi-user.target
